.contactusbody {
  background-color: #e8f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.font {
  font-family: "League Gothic", sans-serif;
  display: flex;
  flex-direction: column;
}
.pfont {
  font-size: 16px;
}
.h1font {
  font-size: 5vh;
}
.contactbutton {
  padding: 1vh 0.5vw;
  margin-top: 1vh;
  border-radius: 10px;
}
.contactusbody > input {
  font-family: "Josefin Sans", sans-serif;
}
.contacttextarea {
  width: 35vw;
}
