.main1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 712px;
}

input {
  padding: 10px;
  margin-bottom: 25px;
  border-color: #012622;
  border-radius: 10px;
}

label {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  margin-right: 7px;
}

button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
}

p {
  margin-top: 30px;
}

.login-btn {
  display: flex;
  justify-content: center;
}
