/* .App {
  text-align: center;
  background-image: ;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 20px;
  align-items: left;
  border: 1px solid;
}

.home {
  /* background-color: #DCDBE6; */
/* padding-top: 50px; */
/* width:  */
/* height: 30em; */

/* h1 {
  border: 2px solid black;
  font-family: "League Gothic", sans-serif;
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
} */

.about p {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: 50px;
}
.title {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-family: "League Gothic", sans-serif;
}

.links {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #0558bc;
  height: 90px;
  padding: 0 20px 0 20px;
}

nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: #e8f0f0;
  font-weight: bold;
  font-family: "League Gothic", sans-serif;
  font-size: 25px;
  padding-left: 20px;
}

nav a:hover {
  color: #6c7271;
}

body {
  background-color: #e8f0f0;
}

.about p {
  display: flex;
  flex-direction: column;
  width: 50vw;
  /* margin: 50px; */
}

footer {
  background-color: #0558bc;
  color: #e8f0f0;
}

#btn {
  text-align: center;
  border-radius: 25px;
  width: 150px;
  height: 30px;
}

#hero {
  height: 100vh;
  width: 100vw;
}

.home-title {
  display: flex;
  justify-content: center;
}

.home-btn {
  display: flex;
  justify-content: center;
}
